<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.sse.ui.completionProposal">
      <proposalComputer
            activate="true"
            categoryId="org.eclipse.jst.jsp.ui.proposalCategory.jsp"
            class="org.eclipselabs.stlipse.jspeditor.JspCompletionProposalComputer"
            id="org.eclipselabs.stlipse.proposalComputer.beanclass">
         <contentType
               id="org.eclipse.jst.jsp.core.jspsource">
         </contentType>
      </proposalComputer>
   </extension>
   <extension
         id="StlipseJSPSourceValidator"
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            class="org.eclipselabs.stlipse.validation.JspValidator"
            id="org.eclipselabs.stlipse.validation.JspValidator"
            scope="total">
         <contentTypeIdentifier
               id="org.eclipse.jst.jsp.core.jspsource">
            <partitionType
                  id="org.eclipse.jst.jsp.DEFAULT_JSP">
            </partitionType>
            <partitionType
                  id="org.eclipse.jst.jsp.SCRIPT.JAVA">
            </partitionType>
            <partitionType
                  id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
            </partitionType>
         </contentTypeIdentifier>
      </validator>
   </extension>
   <extension
         id="StripesJspValidator"
         name="Stripes JSP Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipselabs.stlipse.validation.JspValidator"
            manual="true"
            markerId="org.eclipselabs.stlipse.stripesJspProblem"
            sourceid="StlipseJSPSourceValidator"
            version="1">
         <include>
            <rules>
               <contentType
                     id="org.eclipse.jst.jsp.core.jspsource">
               </contentType>
               <fileext
                     caseSensitive="false"
                     ext="jsp">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tag">
               </fileext>
            </rules>
         </include>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipselabs.stlipse.hyperlink.BeanclassHyperlinkDetector"
            id="org.eclipselabs.stlipse.BeanclassHyperlinkDetector"
            name="Stlipse Beanclass Hyperlink Detector"
            targetId="org.eclipse.jst.jsp.core.jspsource">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipselabs.stlipse.validation.JspMarkerResolutionGenerator"
            markerType="org.eclipselabs.stlipse.stripesJspProblem">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="org.eclipselabs.stlipse.stripesJspProblem"
         name="Stripes JSP Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="problemType">
      </attribute>
      <attribute
            name="errorValue">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <provisionalConfiguration
            class="org.eclipselabs.stlipse.validation.JspQuickAssistProcessor"
            target="org.eclipse.jst.jsp.JSP_DIRECTIVE"
            type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor">
      </provisionalConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.eclipselabs.stlipse.stripesJspProblem"
            name="org.eclipselabs.stlipse.stripesJspProblem">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipselabs.stlipse.stripesJspProblem"
            colorPreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.color"
            colorPreferenceValue="255,192,38"
            contributesToHeader="true"
            highlightPreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Stripes JSP Problem"
            overviewRulerPreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            symbolicIcon="error"
            textPreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="org.eclipselabs.stlipse.stripesJspProblem.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipselabs.stlipse.StlipsePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipselabs.stlipse.StlipsePreferencePage"
            id="org.eclipselabs.stlipse.preferencePage"
            name="Stlipse">
      </page>
   </extension>
   <extension
         id="org.eclipselabs.stlipse.javaStringCompletionProposalComputer"
         name="Stripes Proposal"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipselabs.stlipse.javaStringProposalCategory"
            class="org.eclipselabs.stlipse.javaeditor.JavaCompletionProposalComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="javaStringProposalCategory"
         name="Stripes Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/stripes.png">
      </proposalCategory>
   </extension>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <factories
            enableDefault="true">
         <factory
               class="org.eclipselabs.stlipse.apt.StlipseAnnotationProcessorFactory">
         </factory>
      </factories>
   </extension>
</plugin>
