<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.sse.ui.completionProposal">
      <proposalComputer
            activate="true"
            categoryId="org.eclipse.jst.jsp.ui.proposalCategory.jsp"
            class="org.eclipselabs.stlipse.jspeditor.BeanclassCompletionProposalComputer"
            id="org.eclipselabs.stlipse.proposalComputer.beanclass">
         <contentType
               id="org.eclipse.jst.jsp.core.jspsource">
         </contentType>
      </proposalComputer>
   </extension>
   <extension
         id="StlipseJSPSourceValidator"
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            class="org.eclipselabs.stlipse.validation.JspValidator"
            id="org.eclipselabs.stlipse.validation.JspValidator"
            scope="partial">
         <contentTypeIdentifier
               id="org.eclipse.jst.jsp.core.jspsource">
            <partitionType
                  id="org.eclipse.jst.jsp.DEFAULT_JSP">
            </partitionType>
            <partitionType
                  id="org.eclipse.jst.jsp.SCRIPT.JAVA">
            </partitionType>
            <partitionType
                  id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
            </partitionType>
         </contentTypeIdentifier>
      </validator>
   </extension>
   <extension
         id="StripesJspValidator"
         name="Stripes JSP Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipselabs.stlipse.validation.JspValidator"
            manual="true"
            markerId="org.eclipse.jst.jsp.core.validationMarker"
            sourceid="StlipseJSPSourceValidator"
            version="1">
         <include>
            <rules>
               <contentType
                     id="org.eclipse.jst.jsp.core.jspsource">
               </contentType>
               <fileext
                     caseSensitive="false"
                     ext="jsp">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tag">
               </fileext>
            </rules>
         </include>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipselabs.stlipse.hyperlink.BeanclassHyperlinkDetector"
            id="org.eclipselabs.stlipse.BeanclassHyperlinkDetector"
            name="Stlipse Beanclass Hyperlink Detector"
            targetId="org.eclipse.jst.jsp.core.jspsource">
      </hyperlinkDetector>
   </extension>
</plugin>
